Repository fga-eps-mds/2022-2-Alectrion-DOC, pull requests merged in 2022-12, with the labels that each got.

#21 Adiciona plano de comunicação interna e externa
  docs/Documentos/eap.md
  docs/Planejamento/comunicacao.md
  docs/Planejamento/planejamento.md
  docs/Semanas/semana-1.md
  docs/Semanas/semana-2.md
  docs/Semanas/semana-3.md
  docs/Semanas/semana-4.md
  docs/Semanas/semana-5.md
  docs/Semanas/semanas.md
  docs/Sprint/sprint-1.md
  docs/Sprint/sprints.md
  docs/_sidebar.md
  docs/assets/EAP.png
  docs/assets/logos/discord.png
  docs/assets/logos/drive.png
  docs/assets/logos/github.png
  docs/assets/logos/teams.png
  docs/assets/logos/telegram.png
  docs/assets/logos/zenhub.png
  docs/assets/quadro_de_conhecimento/1_quadro_de_conhecimento.png
  docs/index.html
  docs/templa-documento.md
Labels: DOCS, EPS

#23 Doc/plano custos
  docs/Planejamento/custos.md
  docs/Planejamento/planejamento.md
  docs/_sidebar.md
Labels: DOCS, EPS

#41 Correção de bug de imagens
  docs/Planejamento/comunicacao.md
Labels: bug, documentation, HOTFIX, DOCS, EPS

#39 Atualização do README: repo DOC
  README.md
  docs/Documentos/guia-contribuicao.md
  docs/Documentos/politicas-branch.md
  docs/README.md
  docs/_sidebar.md
Labels: DOCS, EPS

#48 Altera o dia e horário do planning
  docs/Planejamento/comunicacao.md
Labels: DOCS, EPS

#47 Adiciona a política de branches
  docs/Documentos/politicas-branch.md
  docs/_sidebar.md
  docs/assets/diagrama-de-branches.png
Labels: DOCS, EPS

#49 Doc/plano qualidade
  docs/Planejamento/planejamento.md
  docs/Planejamento/plano-qualidade.md
  docs/_sidebar.md
Labels: DOCS, EPS

#53 Documento de arquitetura
  docs/Documentos/arquitetura.md
  docs/_sidebar.md
  docs/assets/documentos/classes-equipamento.png
  docs/assets/documentos/classes-usuario.png
  docs/assets/documentos/implantação.png
  docs/assets/documentos/logico.png
  docs/assets/documentos/pacotes-backend.png
  docs/assets/documentos/pacotes-frontend.png
  docs/assets/documentos/relação.png
Labels: documentation, DOCS, ARQ, EPS

#54 Adiciona Lean Inception
  docs/Leaninception/brainstorm.md
  docs/Leaninception/e-naoe-faz-naofaz.md
  docs/Leaninception/jornadas.md
  docs/Leaninception/mvp.md
  docs/Leaninception/objetivos.md
  docs/Leaninception/personas.md
  docs/Leaninception/revisao-tecnica.md
  docs/Leaninception/sequenciador.md
  docs/Leaninception/visao-do-produto.md
  docs/_sidebar.md
  docs/assets/leaninception/brainstorm.png
  docs/assets/leaninception/e-naoe-faz-naofaz.png
  docs/assets/leaninception/jornada1.png
  docs/assets/leaninception/jornada2.png
  docs/assets/leaninception/jornada3.png
  docs/assets/leaninception/mvp.png
  docs/assets/leaninception/objetivos.png
  docs/assets/leaninception/persona1.png
  docs/assets/leaninception/persona2.png
  docs/assets/leaninception/persona3.png
  docs/assets/leaninception/revisao-tecnica.png
  docs/assets/leaninception/sequenciador.png
  docs/assets/leaninception/visao-do-produto.png
  docs/index.html
Labels: documentation, DOCS, EPS

#71 Atualiza quadro de conhecimento
  docs/Sprint/sprint-1.md
  docs/assets/quadro_de_conhecimento/2_quadro_de_conhecimento.png
Labels: DOCS, EPS

#72 Adequa o plano de comunicação para sprint de 1 semana
  docs/Planejamento/comunicacao.md
Labels: enhancement, DOCS, EPS

#73 Adciona o documento de metodologias
  docs/Documentos/metodologia.md
  docs/_sidebar.md
  docs/assets/logos/kanban.png
  docs/assets/logos/lean-inception.jpg
  docs/assets/logos/scrum.png
  docs/assets/logos/xp.jpg
Labels: enhancement, DOCS, EPS

#74 Adicionando política de pull requests
  docs/Documentos/politicas-branch.md
Labels: documentation, DOCS, EPS

#75 Guia de estilo
  docs/Documentos/guia-de-estilo.md
  docs/_sidebar.md
  docs/assets/guia-de-estilo/AlectrionLogo.svg
  docs/assets/guia-de-estilo/primarias.png
  docs/assets/guia-de-estilo/secundarias.png
  docs/assets/guia-de-estilo/tipografia.png
Labels: documentation, DOCS, EPS

#76 Protótipos
  docs/Documentos/prototipos/alta-fidelidade.md
  docs/Documentos/prototipos/baixa-fidelidade.md
  docs/_sidebar.md
  docs/assets/prototipos/alta/equipamentos.png
  docs/assets/prototipos/alta/login.png
  docs/assets/prototipos/alta/ordem-de-serviço.png
  docs/assets/prototipos/alta/tarefas.png
  docs/assets/prototipos/baixa/cadastro-equipamento.png
  docs/assets/prototipos/baixa/login.png
  docs/assets/prototipos/baixa/ordem-de-serviço.png
Labels: documentation, DOCS, EPS

#80 Correção de imagens do documento de arquitetura
  docs/Documentos/arquitetura.md
  docs/assets/documentos/implantação.png
  docs/assets/documentos/relação.png
Labels: documentation, DOCS, ARQ, EPS

#77 Atualizando documento de qualidade
  docs/Planejamento/plano-qualidade.md
Labels: documentation, DOCS, EPS

#79 Doc/sprint
  docs/Sprint/sprint-1.md
  docs/Sprint/sprint-2.md
  docs/Sprint/sprints.md
  docs/assets/quadro_de_conhecimento/2_quadro_de_conhecimento.jpg
  docs/assets/quadro_retrospectiva/1_quadro_bom.jpg
  docs/assets/quadro_retrospectiva/1_quadro_melhorar.jpg
  docs/assets/quadro_retrospectiva/1_quadro_ruim.jpg
  docs/assets/quadro_retrospectiva/2_quadro_bom.jpg
  docs/assets/quadro_retrospectiva/2_quadro_melhorar.jpg
  docs/assets/quadro_retrospectiva/2_quadro_ruim.jpg
Labels: DOCS, EPS
